{% extends "authentication/layout.html" %}
{% load static %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'authentication/css/login.css' %}">{% endblock %}
{% block title %}Login{% endblock %}
{% block content %}
   <div class="div-content">
      <div class="div-title">LOGIN</div>
      <div class="div-redirect">Não possui conta?&nbsp;<a href="{% url 'register' %}">Cadastre-se</a></div>
      <div class="div-form">
         <form>

            <span class="alert">Alerta</span>
         </form>
      </div>
   </div>
{% endblock %}
