<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
</head>
<body>
    {% block content %}{% endblock %}
        <div class="title-content">
            <img src="{{ url_for('static', filename='logo.png')}}"/>
        </div>
        <div class="redirect-content">
            {% block redirect %}{% endblock %}
        </div>
        {% block form %}{% endblock %}
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <span class="alert-content {{ category }}">{{ message }}</span>
                    {% endfor %}
                {% endif %}
                {% endwith %}
            </form>
        </div>
    </div>
</body>
</html>