{% extends "auth/layout.html" %}

{% block content %}
    <div class="form-login">
{% endblock %}

{% block redirect %}
    <p>Ainda não possui conta? <a href="{{ url_for('auth.register')}}">Cadastre-se</a></p>
{% endblock %}

{% block form %}
   <div class="input-content">
      <form method="POST" action="{{ url_for('auth.login')}}">
         <input type="email" name="email" id="email" placeholder="E-mail" required/>
         <input type="password" name="password" id="password" placeholder="Senha" required/>
         <button type="submit">ENTRAR</button>
{% endblock %}