.dash-line1{
   margin: 20px 20px 10px 30px;
   height: 12vh;
   display: flex;
}

.dash-value{
   width: 20%;
   height: 100%;
   margin-right: 10px;
   background-color: #fff;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   border-radius: 10px; 
}

.value-data{
   width: 100%;
   height: 60%;
   display: flex;
   justify-content: center;
   align-items: end;
   color: #3585f9;
   font-size: 42px;
}

.value-title{
   width: 100%;
   height: 40%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 14px;
   font-weight: 900;
   color: #615f5f;
}

.dash-line2{
   margin: 10px 30px 10px 30px;
   height: 50vh;
   display: flex;
}

.dash-timeline{
   width: 55%;
   height: 100%;
   margin-right: 10px;
   background-color: #fff;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   border-radius: 10px; 
}

.timeline-title{
   width: 52%;
   height: 50px;
   float: left;
   text-align: center;
   font-size: 18px;
   position: relative;
   font-weight: 900;
   color: #646363;
}

.timeline-title::after,
.bar-horizontal-title::after,
.bar-vertical-title::after,
.donut-title::after,
.pie-title::after {
   content: '';
   position: absolute;
   bottom: 0;
   left: 5%;
   width: 90%;
   border-bottom: 1px solid #3585f9;
}

.timeline-filter{
   width: 48%;
   height: 50px;
   float: left;
   display: flex;
   align-items: center;
}
 
 .filter-group {
   display: flex;
   align-items: center;
   gap: 5px;
 }
 
 .filter-group input{
   padding: 5px;
   border: 1px solid #32abc4;
   border-radius: 4px;
   color: #646363;
   font-family: Calibri;
   background-color: #51ddd641;
 }

 .date-input{
   width: 92px;
 }

 .time-input{
   width: 65px;
 }

.timeline-graph{
   width: 100%;
   height: calc(100% - 50px);
   float: left;
   display: flex;
   justify-content: center;
   align-items: center;
}

.timeline-graph canvas{
   width: 92% !important;
   height: 90% !important;
}

.dash-bar-vertical{
   width: 45%;
   height: 100%;
   margin-left: 10px;
   background-color: #fff;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   border-radius: 10px; 
}

.bar-vertical-title{
   width: 100%;
   height: 50px;
   float: left;
   text-align: center;
   font-size: 18px;
   position: relative;
   font-weight: 900;
   color: #646363;
}

.bar-vertical-graph{
   width: 100%;
   height: calc(100% - 50px);
   float: left;
   display: flex;
   justify-content: center;
   align-items: center;
}

.bar-vertical-graph canvas{
   width: 92% !important;
   height: 90% !important;
}

.dash-line3{
   margin: 0px 30px 20px 30px;
   min-height: 50vh;
   display: flex;
}

.dash-bar-horizontal{
   width: 50%;
   margin-right: 10px;
   background-color: #fff;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   border-radius: 10px; 
}

.bar-horizontal-title{
   width: 100%;
   height: 50px;
   float: left;
   text-align: center;
   font-size: 18px;
   position: relative;
   font-weight: 900;
   color: #646363;
}

.bar-horizontal-graph{
   width: 100%;
   height: calc(100% - 50px);
   float: left;
   display: flex;
   justify-content: center;
   align-items: center;
}

.bar-horizontal-graph canvas{
   width: 92% !important;
   height: 90% !important;
}

.dash-donut{
   width: 25%;
   margin-left: 10px;
   margin-right: 10px;
   background-color: #fff;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   border-radius: 10px; 
}

.donut-title{
   width: 100%;
   height: 50px;
   float: left;
   text-align: center;
   font-size: 18px;
   position: relative;
   font-weight: 900;
   color: #646363;
}

.donut-graph{
   width: 100%;
   height: calc(100% - 50px);
   float: left;
   display: flex;
   justify-content: center;
   align-items: center;
}

.donut-graph canvas{
   width: 85% !important;
   height: 80% !important;
}

.dash-pie{
   width: 25%;
   margin-left: 10px;
   background-color: #fff;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   border-radius: 10px; 
}

.pie-title{
   width: 100%;
   height: 50px;
   float: left;
   text-align: center;
   font-size: 18px;
   position: relative;
   font-weight: 900;
   color: #646363;
}

.pie-graph{
   width: 100%;
   height: calc(100% - 50px);
   float: left;
   display: flex;
   justify-content: center;
   align-items: center;
}

.pie-graph canvas{
   width: 85% !important;
   height: 80% !important;
}
