{% extends "authentication/layout.html" %}
{% load static %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'authentication/css/register.css' %}">{% endblock %}
{% block title %}Register{% endblock %}
{% block content %}
   <div class="div-content">
      <div class="div-title">CADASTRO</div>
      <div class="div-redirect">Já possui conta?&nbsp;<a href="{% url 'login' %}">Entrar</a></div>
      <div class="div-form">
         <form method="POST">
            {% csrf_token %}
            <!-- Nome -->
            <div class="form-group">{{ form.nome }}</div>
            {% if form.nome.errors %}
                  <div class="text-danger">{{ form.nome.errors }}</div>
            {% endif %}

            <!-- E-mail -->
            <div class="form-group">{{ form.email }}</div>
            {% if form.email.errors %}
                  <div class="text-danger">{{ form.email.errors }}</div>
            {% endif %}

            <!-- Telefone -->
            <div class="form-group">{{ form.telefone }}</div>
            {% if form.telefone.errors %}
                  <div class="text-danger">{{ form.telefone.errors }}</div>
            {% endif %}

            <!-- Senha -->
            <div class="form-group">{{ form.password1 }}</div>
            {% if form.password1.errors %}
                  <div class="text-danger">{{ form.password1.errors }}</div>
            {% endif %}

            <!-- Confirmar senha -->
            <div class="form-group">{{ form.password2 }}</div>
            {% if form.password2.errors %}
                  <div class="text-danger">{{ form.password2.errors }}</div>
            {% endif %}

             <!-- Botão -->
            <button type="submit" class="btn btn-primary">Criar</button>

            {% if success_message %}
                  <span class="alert alert-success">{{ success_message }}</span>
            {% endif %}
            
            {% if error_message %}
                  <span class="alert alert-danger">{{ error_message }}</span>
            {% endif %}
         </form>
      </div>
   </div>
{% endblock %}
