body {
   font-family: Calibri, Arial, 'Trebuchet MS', sans-serif;
   font-weight: 500;
   font-size: 12px;
   background-color: #e5e7eb;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

/* PÁGINA DE REGISTRO */
.form-register{
   width: 470px;
   height: 560px;
   background-color: #ffffff;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   border-radius: 5px;
}

/* PÁGINA DE LOGIN */
.form-login{
   width: 420px;
   height: 410px;
   background-color: #ffffff;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   border-radius: 5px;
}

/* PÁGINA DE SETUP MFA */
.form-setup-mfa{
   width: 420px;
   height: 540px;
   background-color: #ffffff;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   border-radius: 5px;
}

/* PÁGINA DE VERIFY MFA */
.form-verify-mfa{
   width: 420px;
   height: 370px;
   background-color: #ffffff;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   border-radius: 5px;
}

/* LOGO */
.logo-content{
   width: 100%;
   height: 150px;
   font-size: 28px;
   font-weight: bold;
   display: flex;
   justify-content: center;
   align-items: center;
}

.logo-content img{
   width: 190px;
   height: 120px;
}

/* REDIRECIONAMENTO LOGIN/REGISTER */
.redirect-content{
   width: 100%;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: baseline;
   font-size: 14px;
   margin-top: 10px;
}

.redirect-content a{
   text-decoration: none;
   color: #4a90e2;
}

.info-content{
   width: 100%;
   height: 50px;
   display: flex;
   flex-direction: column;
   font-size: 14px;
   margin-top: 10px;
   text-align: center;
}

.info-content p{
   margin: 5px;
}

/* CONTÉUDO FUNCIONAL */
.input-content{
   width: 100%;
   height: calc(100% - (10px + 150px + 50px));
}


/* QR-CODE */
.qr-code-content{
   width: 100%;
   height: 180px;
   display: flex;
   justify-content: center;
}

.qr-code-img{
   width: 200px;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: end;
   margin-left: 40px;
}

.qr-code-img img{
   width: 160px;
   height: 160px;
}

.qr-code-form{
   width: 41px;
   height: 100%;
}
.qr-code-form form{
   width: 100%;
   height: 100%;
}
.qr-code-button{
   padding: 10px 14px;
   margin-top: 30px;
   background-color: #4f647a;
   border: none;
   color: white;
   border-radius: 3px;
   transition: 0.4s;
}

.qr-code-button:hover{
   cursor: pointer;
   background-color: #2f445e;
}

.input-content-mfa{
   width: 100%;
   height: calc(100% - (10px + 150px + 50px));
}

.input-data-form-mfa{
   width: 100%;
   height: calc(100% - 180px);
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.input-content form{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}


/* CAMPOS E ÍCONES DO FORMULÁRIO */
.input-data{
   width: 70%;
   height: 35px;
   margin-bottom: 15px;
   display: flex;
}

.input-data i, .input-code i{
   background-color: #313131;
   height: 39px;
   width: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 5px 0 0 5px;
   color: white;
   font-size: 12px;
}

.input-data input{
   width: calc(100% - 40px);
   height: 35px;
   padding-left: 10px;
   border-radius: 0 5px 5px 0;
   border: 1px solid rgb(199, 201, 202);
   transition: border-color 0.5s ease;
}

.input-data input:focus{
   outline: none;
   border-color: #4a90e2;
}

/* CAMPO E BOTÃO PARA VALIDAÇÃO DO E-MAIL */
.input-code{
   width: 70%;
   height: 35px;
   display: flex;
   align-items: baseline;
}

.input-code input{
   width: 40%;
   height: 35px;
   padding-left: 10px;
   border-radius: 0 5px 5px 0;
   border: 1px solid rgb(199, 201, 202);
   transition: border-color 0.5s ease;
}

.input-code input:focus{
   outline: none;
   border-color: #4a90e2;
}

.input-code button{
   font-size: 12px;
   font-weight: bold;
   width: 40%;
   height: 35px;
   margin-left: 20px;
   background-color: #4f647a;
   border: none;
   color: white;
   border-radius: 3px;
   transition: 0.4s;
}

.input-code button:hover{
   cursor: pointer;
   background-color: #2f445e;
}

/* BOTÃO PARA ENVIO DOS DADOS DO FORMULÁRIO */
.button-data-register{
   margin-top: 25px;
}

.button-data-login{
   margin-top: 10px;
}

.button-data-mfa{
   margin-top: 10px;
}

.button-data-register, .button-data-login, .button-data-mfa{
   font-size: 12px;
   font-weight: bold;
   width: 70%;
   height: 32px;
   background-color: #4a90e2;
   border: none;
   color: white;
   border-radius: 3px;
   transition: 0.4s;
}

.button-data-register:hover, .button-data-login:hover, .button-data-mfa:hover{
   cursor: pointer;
   background-color: #3b72b1;
}

/* ALERTA GERADOS PARA O USUÁRIO */
.alert-content{
   margin-top: 15px;
}

.alert-content.error {
   background-color: #f5d1d7;
   color: #c62828;
   padding: 3px 5px;
}

.alert-content.success {
   background-color: #d1f5df;
   color: #2e7d32;
   padding: 3px 5px;
}