<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>{{ title }}</title>
    {% if delay and url %}
    <meta http-equiv="refresh" content="{{ delay }};url={{ url }}">
    {% endif %}
</head>
<body>
    {% block content %}
    <div class="{% block form_type %}{% endblock %}">
        <div class="logo-image">
            <img src="{{ url_for('static', filename='img/logo.png')}}" alt="Logo"/>
        </div>
        {% block description %}{% endblock %}
        {% block qr_code %}{% endblock %}
        {% block form %}{% endblock %}
    </div>
    {% endblock %}
</body>
</html>