<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block style %}{% endblock %}
</head>
<body>
  <div class="header-content">
    <div class="header-logo"><img src="{{ url_for('static', filename='img/favicon.png')}}" alt="Logo"/><b><a href="{{ url_for('main.dashboard') }}">EventTrace</b></a></div>
    <div class="header-menu">
       <p>Welcome, {{ user.username }}!</p>
       <p><a href="{{ url_for('view.download') }}" class="download" download>Download</a></p>
       <p><a href="{{ url_for('auth.logout') }}">Logout</a></p>
    </div>
 </div>
 
 <div class="main-content">
    <div class="nav-content">
       <div class="menu-content">
          {% if user.is_admin %}
          <a href="{{ url_for('main.manage') }}" class="menu-option">
             <p><b>MANAGE AGENTS</b></p>
             <p class="option-context">Gerencie os agentes que se encontram instalados nos dispositivos.</p>
          </a>
          {% endif %}
          <a href="{{ url_for('view.events') }}" class="menu-option">
              <p><b>EVENT MONITORING</b></p>
              <p class="option-context">Visualize os eventos das atividades dos usuários e configure as fontes de dados.</p>
          </a>
          <a href="{{ url_for('view.notification') }}" class="menu-option">
             <p><b>NOTIFICATION</b></p>
             <p class="option-context">Defina um canal de comunicação para enviar os alertas programados.</p>
          </a>
       </div>
       <div class=project-content>
         <p><b>DevSecOps - PUCPR</b></p>
       </div>
    </div>
    <div class="section-content">
      {% block section %}{% endblock %}
    </div>
  </div>
  <footer>
    <p><b>Developed by Daniel Mendes and Dougley Doll - © 2025.</b></p>
  </footer>
  {% block script %}{% endblock %}
</body>
</html>