{% extends "application/base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block content %}
<div class="header-content">
   <div class="header-logo"><img src="{{ url_for('static', filename='img/favicon.png')}}" alt="Logo"/><b><a href="{{ url_for('main.dashboard') }}">EventTrace</b></a></div>
   <div class="header-menu">
      <p>Welcome, {{ user.username }}!</p>
      <p><a href="{{ url_for('auth.logout') }}">Logout</a></p>
   </div>
</div>

<div class="main-content">
   <div class="nav-content">
      <div class="menu-content">
         {% if user.is_admin %}
         <div class="menu-option">
            <p><b>MANAGER AGENTS</b></p>
            <p class="option-context">Gerencie os agentes que se encontram instalados nos dispositivos.</p>
         </div>
         {% endif %}
         <div class="menu-option">
            <p><b>EVENT MONITORING</b></p>
            <p class="option-context">Visualize os eventos das atividades dos usuários e configure as fontes de dados.</p>
         </div>
         {% if user.is_admin %}
         <div class="menu-option">
            <p><b>TRIGGERS</b></p>
            <p class="option-context">Defina gatilhos para executar uma ação quando um evento ocorrer.</p>
         </div>
         {% endif %}
         <div class="menu-option">
            <p><b>NOTIFICATION</b></p>
            <p class="option-context">Defina um canal de comunicação para enviar os alertas programados.</p>
         </div>
      </div>
      <div class=project-content>
        <p><b>DevSecOps - PUCPR</b></p>
      </div>
   </div>
   <div class="section-content">
      <div class="dash-line1">
         <div class="dash-value">
            <div class="value-data">2</div>
            <div class="value-title">Agents</div>
         </div>
         <div class="dash-value">
            <div class="value-data">100%</div>
            <div class="value-title">Updates</div>
         </div>
         <div class="dash-value">
            <div class="value-data">21</div>
            <div class="value-title">Events</div>
         </div>
         <div class="dash-value">
            <div class="value-data">16</div>
            <div class="value-title">Authentication Failure</div>
         </div>
         <div class="dash-value">
            <div class="value-data">3</div>
            <div class="value-title">CVEs</div>
         </div>
      </div>
      <div class="dash-line2">
         <div class="dash-timeline">
            <div class="timeline-title"> <p>Quantidade de Eventos ao Longo do Tempo</p></div>
            <div class="timeline-filter">
               <div class="filter-group">
                  <label for="startDateTime"></label>
                  <input type="date" id="startDate" class="date-input" value="">
                  <input type="time" id="startTime" class="time-input" value="00:00">
                  <label for="endDateTime"></label>
                  <input type="date" id="endDate" class="date-input" value="">
                  <input type="time" id="endTime" class="time-input" value="23:59">
               </div>
            </div>
            <div class="timeline-graph">
               <canvas id="eventsTimeline"></canvas>
            </div>
         </div>
         <div class="dash-bar-vertical">
            <div class="bar-vertical-title"> <p>Top 7 Categorias de Eventos</p></div>
            <div class="bar-vertical-graph"> 
               <canvas id="verticalBarChart"></canvas>
            </div>
         </div>
      </div>
      <div class="dash-line3">
         <div class="dash-bar-horizontal">
            <div class="bar-horizontal-title"> <p>Top 10 IPs com Maior Tráfego de Rede</p></div>
            <div class="bar-horizontal-graph">
               <canvas id="horizontalBarChart"></canvas>
            </div>
         </div>
         <div class="dash-donut">
            <div class="donut-title"> <p>Sistemas Operacionais Existentes</p></div>
            <div class="donut-graph">
               <canvas id="donutChart"></canvas>
            </div>
         </div>
         <div class="dash-pie">
            <div class="pie-title"> <p>Status dos Hosts</p></div>
            <div class="pie-graph">
               <canvas id="pieChart"></canvas>
            </div>
         </div>
      </div>
   </div>
</div>

<footer>
   <p><b>Developed by Daniel Mendes and Dougley Doll - © 2025.</b></p>
</footer>
{% endblock %}

