{% extends "layout.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
{% endblock %}

{% block content %}
<div class="header-content">
   <div class="header-logo"><p>DEVSECOPS</p></div>
   <div class="header-menu">
      <p>Welcome, user!</p>
      <p><a href="{{ url_for('main.root') }}">Logout</a></p>
   </div>
</div>

<div class="main-content">
   <div class="nav-content">
      <div class="menu-content">
         <p>1-MENU</p>
         <p>2-MENU</p>
         <p>3-MENU</p>
      </div>
      <div class=project-content>
        <p>DevSecOps - PUCPR</p>
      </div>
   </div>
   <div class="section-content">
      <div class="dash-content">

      </div>
      <div class="filter-content">
         
      </div>
      <div class="info-content">
         
      </div>
   </div>
</div>

<footer>
   <p>Developed by Daniel Mendes and Dougley Doll - © 2025.</p>
</footer>
{% endblock %}

